<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.webapp.FoodBox_Testing.CustomerRegister"/>
      <class name="com.webapp.FoodBox_Testing.CustomerLogin"/>
      <class name="com.webapp.FoodBox_Testing.AdminLogin"/>
      <class name="com.webapp.FoodBox_Testing.FoodPurchase"/>
      <class name="com.webapp.FoodBox_Testing.AdminOperations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
