<div class="container form">
    <h1 style="text-align: center;">Login Form</h1>
    <div *ngIf="message!=''" class="alert alert-danger" role="alert">
        {{message}}
    </div>
    <form class="form-validate" novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-row">
            <div class="col-sm-3"></div>
            <!-- Email -->
            <div class="col-sm-6">
                <div class="form-Group">
                    <label for="email">Email ID</label>
                    <input type="email" class="form-control" name="email" id="email" formControlName="email"
                        aria-describedby="emailHelp">
                    <small *ngIf="hasError('email')" [class]="hasError('email') ? 'has-error' : '' ">
                        <div *ngIf="email?.errors">
                            <span *ngIf="email?.errors?.['required']">Email is a required field </span>
                            <span *ngIf="email?.errors?.['minlength']">Email is min 6 char long field </span>
                            <span *ngIf="email?.errors?.['maxlegth']">Email is max 30 char long field </span>
                            <span *ngIf="email?.errors?.['email']">Please enter a valid Email ID</span>
                        </div>
                    </small>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- Password -->
        <div class="form-row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-Group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" formControlName="password"
                        aria-describedby="passwordHelp">
                    <small *ngIf="hasError('password')" [class]="hasError('password') ? 'has-error' : '' ">
                        <div *ngIf="password?.errors">
                            <span *ngIf="password?.errors?.['required']">Password is a required field </span>
                            <span *ngIf="password?.errors?.['minlength']">Password  is min 6 char long field </span>
                            <span *ngIf="password?.errors?.['maxlegth']">Password  is max 30 char long field </span>
                        </div>
                    </small>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <!-- Admin or customer -->
        <div class="form-row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="form-check">
                    <br>
                    <!-- <p>Login as:</p> -->
                    <input class="form-check-input" type="radio" id="role" name="role" value="admin"
                        formControlName="role">
                    <label for="role" class="form-check-label">Login as Admin</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input class="form-check-input" type="radio" id="role" name="role" value="customer"
                        formControlName="role">
                    <label for="role" class="form-check-label">Login as Customer</label>
                    <small *ngIf="hasError('role')" [class]="hasError('role') ? 'has-error' :''">
                        <div *ngIf="role?.errors">
                            <span *ngIf="role?.errors?.['required']"> Please check appropriate role!</span>
                        </div>
                    </small>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <!-- Submit -->
        <br>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-info btn-block">Submit</button>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
</div>