<h2 class="product">Products</h2>

<div>
    <input type="text" class="form-control search-form" [ngModelOptions]="{standalone : true}" [(ngModel)]="searchItem"
        id="search" placeholder="Search Products">
</div>

<div class="products">
    <ul>
        <li *ngFor="let product of products | searchFilter : searchItem">
            <a>
                <img src="{{product.imageUrl}}" alt="{{product.productName}} [image not found]">
                <div id="name">
                    {{product.productName}}
                </div>
                <div id="price">
                    {{product.productPrice | currency:"INR":"symbol"}} <br>
                </div>
                <div id="desc">
                    {{product.productDescription}}
                </div>
                <div id="cart">
                    <button (click)="addToCart(product)" class="btn btn-info col">Add To Cart </button>
                </div>
            </a>
        </li>
    </ul>
</div>