<div class="container mt-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <h4>Product Form : </h4>
            <form class="product-form" [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)">
                <div class="form-row">
                    <!-- Product Name -->
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="productName">Product Name</label>
                            <input type="text" class="form-control" name="productName" id="productName"
                                formControlName="productName" aria-describedby="productNameHelp">
                            <small *ngIf="hasError('productName')" [class]="hasError('productName') ? 'error' :''">
                                <div *ngIf="productName.errors">
                                    <span *ngIf="productName.errors['required']">Product Name is a required field</span>
                                    <span *ngIf="productName.errors['minlength']">Product Name is a min 3 char long
                                        field</span>
                                    <span *ngIf="productName.errors['maxlength']">Product Name is a max 30 char long
                                        field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                    <!-- Product Type
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="type">Product Type</label>
                            <input type="text" class="form-control" name="type" id="productPrice" formControlName="type"
                                aria-describedby="productPriceHelp">
                            <small *ngIf="hasError('type')" [class]="hasError('type') ? 'error' :''">
                                <div *ngIf="type.errors">
                                    <span *ngIf="type.errors['required']">Product type is a required field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-row"> -->
                    <!-- Product Price -->
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="productPrice">Product Price</label>
                            <input type="text" class="form-control" name="productPrice" id="productPrice"
                                formControlName="productPrice" aria-describedby="productPriceHelp">
                            <small *ngIf="hasError('productPrice')" [class]="hasError('productPrice') ? 'error' :''">
                                <div *ngIf="productPrice.errors">
                                    <span *ngIf="productPrice.errors['required']">Price is a required field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                    <!-- Quantity -->
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="productQuantity">Quantity</label>
                            <input type="text" class="form-control" name="productQuantity" id="productQuantity"
                                formControlName="productQuantity" value="1" aria-describedby="productQuantityHelp"
                                readonly>
                            <small *ngIf="hasError('productQuantity')"
                                [class]="hasError('productQuantity') ? 'error' :''">
                                <div *ngIf="productQuantity.errors">
                                    <span *ngIf="productQuantity.errors['required']">Quantity is a required field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                    <!-- Cooking Time -->
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="cookingTime">Cooking Time</label>
                            <input type="text" class="form-control" name="cookingTime" id="cookingTime"
                                formControlName="cookingTime" aria-describedby="cookingTimeHelp">
                            <small *ngIf="hasError('cookingTime')" [class]="hasError('cookingTime') ? 'error' :''">
                                <div *ngIf="cookingTime.errors">
                                    <span *ngIf="cookingTime.errors['required']">Cooking time is a required
                                        field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                    <!-- Unit
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="unit">Product Unit</label>
                            <input type="text" class="form-control" name="unit" id="productPrice" formControlName="unit"
                                value=1 aria-describedby="unitHelp" readonly>
                            <small *ngIf="hasError('unit')" [class]="hasError('unit') ? 'error' :''">
                                <div *ngIf="unit.errors">
                                    <span *ngIf="unit.errors['required']">Unit is a required field</span>
                                </div>
                            </small>
                        </div>
                    </div> -->
                    <!-- Image URL -->
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="imageUrl">Image URL</label>
                            <input type="text" class="form-control" name="imageUrl" id="imageUrl"
                                formControlName="imageUrl" aria-describedby="imageUrlHelp">
                            <small *ngIf="hasError('imageUrl')" [class]="hasError('imageUrl') ? 'error' :''">
                                <div *ngIf="imageUrl.errors">
                                    <span *ngIf="imageUrl.errors['required']">Image URL is a required field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <!-- productDescription -->
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="productDescription">Product Description</label>
                            <textarea type="productDescription" class="form-control" name="productDescription"
                                id="productDescription" formControlName="productDescription"
                                aria-describedby="productDescriptionHelp"> </textarea>
                            <small *ngIf="hasError('productDescription')"
                                [class]="hasError('productDescription') ? 'error' :''">
                                <div *ngIf="productDescription.errors">
                                    <span *ngIf="productDescription.errors['required']">Description is a required
                                        field</span>
                                </div>
                            </small>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>