<h2 class="product">Products</h2>
<!-- <div class="text-center">
  <input type="text" class="form-control search-form" [ngModelOptions]="{standalone : true}" [(ngModel)]="searchItem" id="search" placeholder="Search Products">
</div> -->
<div class="products">
  <ul>
    <li *ngFor="let product of products | searchFilter:searchItem">
      <a>
        <img src="{{product.imageUrl}}" alt="{{product.productName}} [image not found]">
        <div id="name">
          {{product.productName}}
        </div>
        <div class="row">
          <div class="col" id="price">
            {{product.productPrice | currency:"INR":"symbol"}} <br>
          </div>
          <div class="col" id="time">
            {{product.cookingTime}} <br>
          </div>
        </div>
        <div id="desc">
          {{product.productDescription}}
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col-mb-5 operations" id="edit" (click)="onEdit(product)" type="submit"> UPDATE </div>
          <div class="col-mb-5 operations" id="delete" (click)="onDelete(product.productId)" type="submit"> DELETE </div>
          <div class="col"></div>
        </div>
      </a>
    </li>
  </ul>
</div>