<h2 class="cart">Checkout</h2>
<div class="row">
    <div class="col"></div>
    <div class="col-sm-2">
        <h4 class="cart-money">
            <span class="text-primary">Cart Amount <strong>{{grandTotal | currency:"INR":"symbol"}}</strong></span>
        </h4>
    </div>
    <div class="col"></div>
</div>
<div class="billcontainer form-container">
    <form class="needs-validation" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col soil">
                <h4 class="col-mb-3">Customer Details</h4>
                <div class="col soil">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" required="true"
                        formControlName="firstname" required>
                </div>
                <div class="col soil">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" required="true"
                        formControlName="lastname" required>
                </div>
                <div class="col soil">
                    <label for="email" class="form-label">Email </label>
                    <input type="email" class="form-control" id="email" placeholder="" formControlName="email" required>
                </div>
                <div class="col soil">
                    <label for="email" class="form-label">Contact No. </label>
                    <input type="number" class="form-control" id="contact" placeholder="" formControlName="email" required>
                </div>
                <div class="col soil"></div>
                <h4 class="col-mb-3">Delivery Details</h4>
                <div class="col soil">
                    <label for="address" class="form-label">Flat No.</label>
                    <input type="text" class="form-control" id="flatNo" required="true" formControlName="address"
                        required>
                </div>
                <div class="col soil">
                    <label for="address2" class="form-label">Society Name</label>
                    <input type="text" class="form-control" id="societyName" placeholder="" fromControlName="address2"
                        required>
                </div>
                <div class="col soil">
                    <label for="country" class="form-label">Area</label>
                    <input type="text" class="form-control" id="area" placeholder="" fromControlName="Country"
                        fromrequired="true" required>
                </div>
                <div class="col soil">
                    <label for="zip" class="form-label">Pin Code</label>
                    <input type="text" class="form-control" id="pincode" placeholder="" fromControlName="zipcode"
                        fromrequired="true" required>
                </div>
            </div>
            <div class="col soil">
                <h4 class="col-mb-3">Payment Details</h4>
                <div class="col soil">
                    <label for="cc-name" class="form-label">Name on card</label>
                    <input type="text" class="form-control" id="nameOnCard" placeholder="" required=""
                        fromControlName="cardname" required>
                </div>

                <div class="col soil">
                    <label for="cc-number" class="form-label">Credit card number</label>
                    <input type="text" class="form-control" id="cardNumber" placeholder="" required="true"
                        fromControlName="cardNumber" required>
                </div>

                <div class="col soil">
                    <label for="cc-expiration" class="form-label">Expiration</label>
                    <input type="text" class="form-control" id="cardExpiration" placeholder="" required="true"
                        fromControlName="cconcard" required>
                </div>
                <div class="col soil">
                    <label for="cc-cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cvv" placeholder="" required="" fromControlName="cvv"
                        required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8 soil order" (click)="checkoutcomplete()" name="order" type="submit">
                Place Your Order
            </div>
            <div class="col"></div>
        </div>
    </form>
</div>